*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #FEFFFF;
    display: flex;
    justify-content: space-around;
}

nav ul{
    list-style-type: none;
    display: flex;
}

.menu{
    display: flex;
}