*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: 12px 42px;
    color: #3D4650;
}

.logo{
    font: 600 24px Parisienne;
    line-height: 20px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 24px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.store-icon{
    font-size: 16px;
}

nav ul li:hover{
    text-decoration: underline;
}

.list-icon{
    display: none;
    font-size: 20px;
}

/* header */

.hero-img{
    background-image: linear-gradient(rgb(255, 255, 255, 0.3)),  url("hero-img.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1{
    font: 800 62px Merienda;
    color: #3D4650;
}

.hero-img p{
    margin: 0 0 32px 0;
    font: bold 16px Quattrocento;
    color: #3D4650;
}

.hero-img button{
    color: white;
    background-color: rgb(255, 255, 255, 0);
    border: 2px solid #AD5A2D;
    padding: 8px 24px;
}

.hero-img button:hover{
    background-color: #AD5A2D;
}

/* assortment */

.assortment{
    text-align: center;
}

.assortment h2{
    font: 500 54px italianno;
    padding: 44px 0 44px 0;
    color:#3D4650;
}

.items{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item1{
    width: 220px;
    height: auto;
}

.item-img{
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 320px;
}

.item1-img{
      background-image: url("cakes.jpg");
}

.item2-img{
      background-image: url("baking.jpg");
}

.item3-img{
      background-image: url("wedding cake.jpg");
}

.item4-img{
      background-image: url("cup cake.jpg");
}

.item-name{
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    background-color:rgb(252, 247, 241);
}

/* about section */

.about{
    display: flex;
    margin: 100px 0 0 0;
}

.about-text{
    width: 50vw;
    padding: 0 0px 0 130px;
}

.about-text h2{
    font: 500 56px italianno;
    color:#3D4650;
}

.about-text h6{
    font: 800 20px Quattrocento;
    color:#3D4650;
    margin: 16px 0 18px 0;
}

.paragraph1, .paragraph2{
    font: 400 14px poppins;
}

.paragraph2{
    padding: 8px 0 0 0;
}

.about-images{
    padding: 0 0 0 110px;
    width: 50vw;
    display: grid;
    grid-template-columns: 34% 34%;
    grid-template-rows: 47% 47%;
    grid-template-areas: 
    "img1 img3"
    "img2 img3";
    column-gap: 10px;
    row-gap: 10px;
}

.about-img{
    background-position: center;
    background-size: cover;
    width: 14vw;
    height: auto;
}

.about-img1{
    background-image: url("about-img1.jpg");
    grid-area: img1;
}

.about-img2{
    background-image: url("about-img2.jpg");
    grid-area: img2;
}

.about-img3{
    background-image: url("about-img3.jpg");
    grid-area: img3;
}

/* after about image */

.after-about-img{
    background-image: url("after-about section.jpg");
    background-position: center;
    background-size: cover;
    margin: 60px 0 0 0 ;
    width: 100%;
    height: 40vh;
}



@media (max-width: 480px) {
    .list-icon{
        display: block;
    }

    .store-icon{
        font-size: 20px;
    }
    
    nav ul li{
        display: none;
    }

    .hero-img{
        height: 40vh;
    }

    .hero-img h1{
         font-size: 42px;
    }

    .items{
        flex-flow: column;
        align-items: center;
        gap: 60px;
    }

    .item1, .item-img{
        width: 90vw;
        height: 350px;
    }

    .assortment h2, .about-text h2, .contact h2{
        font-size: 36px;
    }

    .about{
        display: inline-block;
    }

    .about-text{
        width: 100vw;
        padding: 28px;
    }

    .about-text h6{
        margin-bottom: 6px;
    }

    .paragraph1, .paragraph2{
        font-size: 14px;
    }

    .about-images{
        width: 100%;
        padding: 0;
        row-gap: 16px;
        justify-content: center;
    }

    .about-img{
        width: 100%;
        height: 22vh;
    }

    .about-img3{
        height: 46vh;
    }

    
}

@media (min-width: 481px) and (max-width: 768px) {
    .list-icon{
        display: block;
    }

    .store-icon{
        font-size: 20px;
    }
    
    nav ul li{
        display: none;
    }

    .hero-img{
        height: 50vh;
    }

    .hero-img h1{
         font-size: 42px;
    }

    .items{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 50% 50%;
        place-items: center;
        column-gap: 16vw;
        row-gap: 8vw;
    }

    .item1, .item-img{
        width: 40vw;
    }

    .about{
        display: inline-block;
    }

    .about-text{
        width: 100vw;
        padding: 48px;
    }

    .about-images{
        width: 100vw;
        padding: 0;
        row-gap: 16px;
        justify-content: center;
    }

    .about-img{
        width: 100%;
        height: 28vh;
    }

    .about-img3{
        height: 57.3vh;
    }
}


